[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third_party/SFML"]
	path = third_party/SFML
	url = https://github.com/SFML/SFML.git
[submodule "third_party/loose_quadtree"]
	path = third_party/loose_quadtree
	url = https://github.com/gerazo/loose_quadtree.git
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng.git