[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "third_party/SFML"]
	path = third_party/SFML
	url = https://github.com/SFML/SFML
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/termcolor"]
	path = third_party/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
